body {
    margin-top: 100px;
    background-color: #0B323F;
    font-family: 'Lato', arial;
    margin-top: 50px;
    color: #0B323F;
}

.navbar {
    background-color: #0B323F;
    padding-right: 15px;
}
.modx {
    color: #43EF8D;
}
b {
    color: #999;
    font-size: 20px;
    font-family: 'Lato';
}

.important {
    color: red;
}
.spacing {
    padding-bottom: 50px;
}
p {
    font-size: 24px;
    font-weight: bolder;
    color: #000;
}
.faq {
    font-size: 18px;
}
.faq strong {
    color: #174A7A;
}

a {
    color: #fff;
}
a:hover{
    text-decoration: none;
}

.gray {
    border: 3px solid black;
}

.nocolor {
    color: #000;
}
.intro {
    font-size: 20px;
}
.notbold{
    font-size: 23px;
    font-weight: normal;
}
.green {
    color: green;
}
.tutorial {
color: green;
font-family: arial;
font-size: 25px;
}

.red {
    color: red;
}
.babyblue{
    color: #0082CE;
}
.blue, .jumbotron  {
    color: #002C49;
}
ol, ul {
    font-size: 20px;
}
.row {
    padding: 3px;
}
.underline{
    text-decoration: underline;
}
.email {
    border: 1px solid black;
    padding: 3px;
    color: #093F00;
}
.bademail {
    border: 1px solid black;
    color: #660000;
}
.emails{
    background-color: #E8E8E8;
}
.modalmodal {
    padding: 15px;
}

button {
    margin-top: 10px;
}

img{
    height: 100%;
    width: 100%;
}
.iceCube{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    border-radius: 10%;
}

h1{
    color: #000;
}








@media(min-width:768px) {
    body {
        margin-top: 50px;
        font-family: 'Lato';
    }
}


#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}


/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #174A7A;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        background: url(../images/side1.jpg);
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        transition: .5s ease;
        background-color: #0B323F !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #CCB85F;
    font-weight: bold;
    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;

}


/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}


/*TABLET*/

@media (max-width: 920px){
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #FF8432;
    background-color: #636363;
   }

.modx {
    color: #FF8432;
}
.navbar {
    background-color: #636363;
    padding-right: 15px;
}
body {
    background-color: #636363;
    }
}




/*MOBILE PHONE*/
@media (max-width: 430px){
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #A6D9F6;
    background-color: #434951;
   }

.modx {
    color: #A6D9F6;
}
.navbar {
    background-color: #434951;
    padding-right: 15px;
}
body {
    background-color: #434951;
    }
}
